$icon-font-path: '../fonts/';
// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

body,
html {
  height: 100%;
  width: 100%;
}

.logo {
  height: 100%;
  width: 100%;
}

.logo .red.part {
  fill: #9d0000;
}

.logo .grey.part {
  fill: #7d7d7d;
}

.logo1 .white.line {
  stroke-dasharray: 50;
  animation: dash 1s linear 0s infinite;
}
@keyframes dash {
  to {
    stroke-dashoffset: 200;
  }
}

.logo.logo3 {
  overflow: hidden;

  .text {
    opacity: 0;
  }

  .pointing.grey.part {
    transform: translate(-2000px, 0);
  }
}

.logo.logo3:hover {
  .text {
    animation: moveRightAndReveal 2s;
    animation-fill-mode: forwards;
  }

  .pointing.grey.part {
    animation: moveRight 1s;
    animation-fill-mode: forwards;
  }
}
@keyframes moveRight {
  from {
    transform: translate(-2000px, 0);
  }

  to {
    transform: translate(0,0);
  }
}
@keyframes moveRightAndReveal {
  from {
    transform: translate(-2000px, 0);
    opacity: 0;
  }

  50% {
    transform: translate(0, 0);
    opacity: 1;
  }

  to {
    transform: translate(0,0);
    opacity: 1;
  }
}
