$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

html, body {
  height: 100%;
  width: 100%;
}

.logo {
  height: 100%;
  width: 100%;
}

.white.line {
  stroke-dasharray: 50;
  animation: dash 1s linear 0s infinite;
}
@keyframes dash {
  to {
    stroke-dashoffset: 200;
  }
}
