$icon-font-path: '../fonts/'; // bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss"; // endbower

body,
html {
  height: 100%;
  width: 100%;
}

.logo {
  height: 100%;
  width: 100%;

  .mirror {
    stroke: white;
    stroke-width: 5;
    stroke-dasharray: none;
  }
}

.logo .red.part {
  fill: #9d0000;
}

.logo .grey.part {
  fill: #7d7d7d;
}

.logo1 .white.line {
  stroke-dasharray: 50;
  animation: dash 1s linear 0s infinite;
}
@keyframes dash {
  to {
    stroke-dashoffset: 200;
  }
}

.logo.logo3 {
  overflow: hidden;

  .text {
    opacity: 0;
  }

  .pointing.grey.part {
    transform: translate(-2000px, 0);
  }
}

.logo.logo3:hover {
  .text {
    animation: moveRightAndReveal 2s;
    animation-fill-mode: forwards;
  }

  .pointing.grey.part {
    animation: moveRight 1s;
    animation-fill-mode: forwards;
  }
}
@keyframes moveRight {
  from {
    transform: translate(-2000px, 0);
  }

  to {
    transform: translate(0,0);
  }
}
@keyframes moveRightAndReveal {
  from {
    transform: translate(-2000px, 0);
    opacity: 0;
  }

  50% {
    transform: translate(0, 0);
    opacity: 1;
  }

  to {
    transform: translate(0,0);
    opacity: 1;
  }
}

.logo.logo4 {
  stroke: red;
  stroke-width: 3;
  stroke-dasharray: 50;

  .red {
    animation: redSection 1s linear infinite;
  }

  .grey {
    animation: greySection 1s linear infinite;
    //stroke-dashoffset: 70;
  }

  polyline {
    animation: polylineSection 1s linear infinite;
    //stroke-dashoffset: 60;
  }
}
@keyframes redSection {
  to {
    stroke-dashoffset: 100;
  }
}
@keyframes greySection {
  from {
    stroke-dashoffset: 65;
  }

  to {
    stroke-dashoffset: 165;
  }
}
@keyframes polylineSection {
  from {
    stroke-dashoffset: 60;
  }

  to {
    stroke-dashoffset: 160;
  }
}

.logo.logo5 {
  transform: rotate(45deg);

  .mirror {
    stroke-width: 0;
  }
}

.logo.logo5:hover {
  animation: rotation 5s linear;
  animation-fill-mode: forwards;

  .mirror {
    animation: mirrors 5s linear;
    animation-fill-mode: forwards;
  }

  .white.line {
    stroke: white;
    stroke-width: 3;
  }
}
@keyframes rotation {
  from {
    transform: rotate(45deg);
  }

  to {
    transform: rotate(0deg);
  }
}
@keyframes mirrors {
  from {
    stroke-width: 0;
  }

  to {
    stroke-width: 5;
  }
}
