<!DOCTYPE html>
<html lang="en" ng-app="physisApp">

    <head>
        <meta charset="UTF-8"/>
        <title>Physis Jr.</title>
        <link rel="stylesheet" href="./semantic/semantic.min.css" type="text/css">
        <link rel="stylesheet" href="./style/main.css" type="text/css"/>
        <link rel="icon" href="./images/icon.png" media="screen" title="Logo Physis Jr.">

        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.js"></script>
        <script src="https://code.jquery.com/jquery-2.2.3.min.js" charset="utf-8"></script>
        <script src="./semantic/semantic.min.js" charset="utf-8"></script>
        <script src="./script/main.js"></script>
    </head>

    <body id="top">
        <div class="ui masthead center aligned segment">
            <div class="ui main text container">
                <img class="ui centered header big logo image" ng-src="./images/logobr.png"/>
                <h2 class="white">Formar e transformar:
                    <br/>Do estudante ao profissional, do teórico ao prático.</h2>
            </div>
        </div>

        <div class="ui main borderless secondary pointing red menu">
            <div class="ui text container">
                <a href="#top" class="active logo header item"><img src="images/icon.png" alt="Logo Physis Jr."></a>
                <div class="right menu">
                    <a href="#institucional" class="item">Institucional</a>
                    <a href="#membros" class="item">Membros</a>
                    <a href="#projetos" class="item">Projetos</a>
                    <a href="#cursos" class="item">Cursos</a>
                    <a href="#contatos" class="item">Contato</a>
                </div>
            </div>
        </div>

        <div class="ui main container">
            <div class="ui hidden divider"></div>
            <h1 id="institucional">A Empresa</h1>
            <p>Fundou-se, em 2006,
                <em>a primeira empresa júnior da Engenharia Física do Brasil</em>, a
                <span class="color-font light">Physis Jr.</span>, que é amparada por toda a infra-estrutura da Universidade Federal de São Carlos e conta com a colaboração do corpo docente do Departamento de Física dessa universidade. A empresa insere no mercado um
                novo conceito de engenharia: a solução de problemas aplicando o forte embasamento científico multidisciplinar adquirido pelos membros na graduação.</p>
            <p>Oferecemos, para empresas,
                <strong>serviços e soluções inovadoras e diferenciadas</strong>, com
                <em>ótimo custo-benefício</em>, o que nos permite disseminar o conhecimento e apresentar à comunidade o que faz um Engenheiro Físico, um profissional relativamente novo no mercado brasileiro.</p>
            <p>Para nossos membros, buscamos oferecer visão de mercado e noções de âmbito empresarial, possibilitando o desenvolvimento do espírito empreendedor e preparo para a vida profissional.</p>
            <a class="ui massive animated red button">
                <div class="visible content">Saiba mais!</div>
                <div class="hidden content">
                    <i class="right arrow icon"></i>
                </div>
            </a>
            <div class="ui hidden divider"></div>

            <h1 id="membros" class="right aligned">Os Membros</h1>

            <div ng-controller="physisCtrl">

                <div class="ui four buttons">
                    <div class="ui button" ng-class="{active: order=='alphabetical'}" ng-click="order='alphabetical'">Alfabético</div>
                    <div class="ui button" ng-class="{active: order=='boards'}" ng-click="order='boards'">Por diretoria</div>
                    <div class="ui button" ng-class="{active: order=='date'}" ng-click="order='date'">Por data de entrada</div>
                    <div class="ui button" ng-class="{active: order=='hierarchy'}" ng-click="order='hierarchy'">Por hierarquia</div>
                </div>

                <div class="ui hidden divider"></div>

                <div class="ui four cards" ng-show="order=='alphabetical'">
                    <div class="ui card" ng-repeat="member in members | orderBy: name">
                        <div class="content">
                            <img class="ui tiny right floated image" ng-src="{{member.photo}}">
                            <div class="header">{{member.name}}</div>
                            <div class="meta">{{member.job}} - Desde {{member.ingressDate}}</div>
                            <div class="description">{{member.description}}</div>
                            <div class="extra content">

                                <a class="ui circular icon button" href="mailto:{{member.email}}">
                                    <i class="mail icon"></i>
                                </a>
                                <a class="ui circular facebook icon button" href="{{member.facebook}}">
                                    <i class="ui facebook icon"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div ng-repeat="board in boards | orderBy: name" ng-show="order=='boards'">
                    <h1>{{board.name}}</h1>
                    <div class="ui four cards">
                        <div class="ui card" ng-repeat="member in members" data-ng-if="member.boardId == board.id">
                            <div class="content">
                                <img class="ui tiny right floated image" ng-src="{{member.photo}}">
                                <div class="header">{{member.name}}</div>
                                <div class="meta">{{member.job}} - Desde {{member.ingressDate}}</div>
                                <div class="description">{{member.description}}</div>
                                <div class="extra content">

                                    <a class="ui circular icon button" href="mailto:{{member.email}}">
                                        <i class="mail icon"></i>
                                    </a>
                                    <a class="ui circular facebook icon button" href="{{member.facebook}}">
                                        <i class="ui facebook icon"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="ui four cards" ng-show="order=='date'">
                    <div class="ui card" ng-repeat="member in members | orderBy: ingressDate">
                        <div class="content">
                            <img class="ui tiny right floated image" ng-src="{{member.photo}}">
                            <div class="header">{{member.name}}</div>
                            <div class="meta">{{member.job}} - Desde {{member.ingressDate}}</div>
                            <div class="description">{{member.description}}</div>
                            <div class="extra content">

                                <a class="ui circular icon button" href="mailto:{{member.email}}">
                                    <i class="mail icon"></i>
                                </a>
                                <a class="ui circular facebook icon button" href="{{member.facebook}}">
                                    <i class="ui facebook icon"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <h1 id="projetos">Projetos</h1>

            <h1 id="cursos">Cursos</h1>
            <h3>EXCEL</h3>

            <h1 id="contato">Contato</h1>
            <form class="ui form">
                <label for="nome">Nome:</label>
                <input name="nome" placeholder="Nome"/>
                <label for="email">Email:</label>
                <input name="email" placeholder="Email" type="email"/>
                <label for="texto"></label>
                <textarea name="texto"></textarea>
                <input class="ui primary fluid button" value="Enviar" type="submit"/>
            </form>

        </div>

        <footer></footer>
        <link href="http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <script src="http://localhost:35729/livereload.js" charset="utf-8"></script>
    </body>

</html>
