/*csslint adjoining-classes:false */

body {
    background-color: #FFFFFF;
}

.white {
  color: white;
}

.cards {
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}

.masthead:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    z-index: -1;
    filter: blur(5px) brightness(0.7) contrast(150%) grayscale(50%);
    display: block;
    background-image: url(/images/trainees.png);
    width: 100%;
    height: 100%;
}
.masthead {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 0;
    margin-left: 20px;
    margin-right: 20px;
}
.masthead.segment {
    min-height: 700px;
    padding: 1em 0;
    text-shadow: -1px 0 grey, 0 1px grey, 1px 0 grey, 0 -1px grey;
}

.masthead .logo.item img {
    margin-right: 1em;
}
.masthead .ui.menu .ui.button {
    margin-left: 0.5em;
}
.masthead .ui.header {
    margin-top: 2em;
    margin-bottom: 0;
    font-size: 4em;
    font-weight: normal;
}
.main.text.container {
    margin-top: 2em;
}
.main.menu {
    margin-top: 0;
    border-radius: 0;
    border: none;
    box-shadow: none;
    transition: box-shadow 0.5s ease, padding 0.5s ease;
}
.main.menu .item .logo {
    margin-right: 1.5em;
}
.overlay {
    float: left;
    margin: 0 3em 1em 0;
}
.overlay .menu {
    position: relative;
    left: 0;
    transition: left 0.5s ease;
}
.main.menu.fixed {
    background-color: #FFFFFF;
    border: 1px solid #DDD;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}
.overlay.fixed .menu {
    left: 800px;
}
.ui.animated.button {
    z-index: 0;
}
